.AppointmentCard {
  display: flex;
  flex-direction: column;
  gap: var(--size-3);

  &Row {
    margin: 0;
  }

  &Details {
    display: flex;
    flex-direction: row;
    gap: var(--size-3);
  }
}