.AppointmentCard {
  background: var(--white);
  border-radius: var(--radius-2-5);
  box-shadow: var(--shadow-2);
  border: var(--border-size-1) solid var(--color-border-light);
  padding: var(--size-4);
  width: 50%;
  gap: var(--size-2-5);

  &Image {
    grid-area: image;
    width: 120px;
    height: auto;
    margin-top: var(--size-4);
  }

  &Info {
    display: flex;
    flex-direction: column;
    gap: var(--size-2-5);
    grid-area: info;

    &Btns {
      display: flex;
      flex-direction: row;
      gap: var(--size-3);
      justify-content: space-between;

      button {
        width: fit-content;
        font-size: var(--font-size-0);
      }
    }
  }

  &_ShowEstablishment {
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-template-areas: "image info";
    background: var(--color-dark-lightest2);
    border: var(--border-size-1) solid var(--color-border);
  }

  &Date {
    margin: 0;
    text-transform: capitalize;
    font-weight: var(--font-weight-5);
  }

  &Name {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--size-2);
    font-size: var(--font-size-0-5);
    color: var(--color-text-light);
    
    svg {
      width: var(--size-4);
    }
  }

  &CompanyName {
    margin: 0;
    font-size: var(--font-size-0-5);
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &Address {
    margin: 0;
    font-size: var(--font-size-0-5);
    color: var(--color-text-light);
    text-decoration: underline;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--size-2);
    
    svg {
      width: var(--size-4);
    }
  }

  &Details {
    display: flex;
    flex-direction: row;
    gap: var(--size-3);
    margin-bottom: var(--size-3);

    &Text {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--size-2);
      font-size: var(--font-size-0-5);
      color: var(--color-text-light);

      svg {
        width: var(--size-4);
      }
    }
  }
}
