.OpeningHours {
    border: solid 1px var(--gray-4);
    border-radius: 5px;
    background-color: var(--gray-0);
    padding: 2vh 3vw;
}

.RowDay {
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px var(--gray-4);
    padding: 1vh 0;
    flex-wrap: wrap;
    justify-content: space-between;

    &CurrentDay {
        font-weight: bold;
    }

    &:last-child {
        border-bottom: none;
    }
}

.DayArea {
    display: flex;
    color: var(--gray-6);

    &CurrentDay {
        color: var(--gray-12);
    }
}

.HoursArea {
    color: var(--gray-7);
    display: flex;
    flex-direction: column;

    &CurrentDay {
        color: var(--gray-12);
    }

    &Closed {
        color: var(--gray-6);
    }
    
}