@use "src/breakpoints" as *;

.Search {
  display: grid;
  grid-template-columns: 800px 1fr;
  height: 100%;

  @media (width <= $breakpoint-tablet) {
    grid-template-columns: 1fr;
  }

  &Left {
  }

  &Right {
    background-color: var(--gray-2);
  }

  &Map {
  @media (width <= $breakpoint-tablet) {
    display: none;
  }

    height: 100%;
  }
}