@use "src/breakpoints" as *;

.Search {
  display: grid;
  grid-template-columns: 800px 1fr;
  height: 100%;

  @media (width <= $breakpoint-tablet) {
    grid-template-columns: 1fr;
  }

  &Left {
    height: 100%;
    overflow-y: auto;
  }

  &Right {
    background-color: var(--gray-2);
    height: 100%;
  }

  &Map {
    height: 100%;

    @media (width <= $breakpoint-tablet) {
      display: none;
    }
  }
}