.SearchBar {
  padding: var(--size-2);
  background-color: var(--white);
  border-radius: var(--radius-2);
  display: flex;
  align-items: center;
  gap: var(--size-2);

  display: grid;
  grid-template-columns: 1fr auto 1fr auto;

  &Separator {
    height: calc(100% - var(--size-2));
    width: 1px;
    background-color: var(--color-border);
  }
}