.WebsiteLayout {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;

  &Content {
    width: 100%;
    max-width: var(--size-app);
    margin: var(--size-7) auto;
    padding: 0 var(--size-3);
  }

  &FullPage {
    .WebsiteLayoutContent {
      height: calc(100vh - 77px);
      max-width: unset;
      margin: unset;
      padding: unset;
    }
  }
}
