.ServiceSelector {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
  background: var(--gray-1);
  border-radius: var(--radius-2);
  padding: var(--size-3);
  box-shadow: var(--shadow-1);

  h3 {
    margin: 0;
  }

  &Info {
    display: flex;
    flex-direction: column;
    gap: var(--size-2);

    &Data {
      display: flex;
      gap: var(--size-2);
      align-items: center;

      label {
        font-weight: var(--font-weight-5);
      }
    }
  }

  &Buttons {
    display: flex;
    gap: var(--size-3);

    & > button {
      flex-grow: 1;
    }
  }
}