@import "open-props/style";
@import "./variables.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
}

#root, html, body {
  height: 100%;
}

body {
  background-color: var(--gray-0);
  margin: 0;
  font-size: var(--font-size-1);
  font-family: Inter, Helvetica, sans-serif;
}
