@import "open-props/style";

:root {
  /* Text */
  --color-text-regular: var(--gray-9);
  --color-text-light: var(--gray-4);

  /* Background */
  --color-white: var(--gray-0);
  --color-hover: var(--gray-1);
  --color-dark: var(--gray-12);

  /* Font */
  --color-font-primary: var(--gray-9);
  --color-font-secondary: var(--gray-8);
  --color-font-placeholder: var(--gray-6);
  --color-font-white: var(--gray-0);

  /* Border */
  --color-border-regular: var(--color-text-regular);
  --color-border: var(--gray-2);
}
