.Page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;

  &Image {
    object-fit: cover;
    filter: grayscale(1);
    background-size: cover;
    background-position: center;
  }

  @media screen and (width <= 1024px) {
    grid-template-columns: 1fr;

    &Image {
      display: none;
    }
  }
}

.Login {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  align-self: center;
  padding: var(--size-10) var(--size-3);

  &Title {
    font-size: var(--size-4);
    font-weight: var(--font-weight-5);
    text-align: center;
    margin-bottom: var(--size-5);
  }

  &Form {
    display: flex;
    flex-direction: column;
    gap: var(--size-3);

    &Field {
      display: flex;
      flex-direction: column;
      gap: var(--size-1);
      width: 100%;

      &Label {
        font-size: calc(var(--size-3) - var(--size-1));
        font-weight: var(--font-weight-5);
      }
    }

    &Link {
      font-size: calc(var(--size-3) - var(--size-1));
      font-weight: var(--font-weight-5);
      color: var(--color-text-regular);
    }
  }

  &Separator {
    margin: var(--size-8) 0;
  }

  &Register {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--size-3);

    &Text {
      font-size: var(--size-4);
      font-weight: var(--font-weight-5);
      margin-bottom: var(--size-3);
      text-align: center;
    }

    &>* {
      width: 100%;
    }
  }
}