.Sidemenu {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    'expand'
    'nav'
    'usermenu';
  align-items: flex-start;
  height: 100%;
  padding: var(--size-3);
}

.Nav {
  grid-area: nav;

  &Menu {
    all: unset;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--size-3);
    list-style: none;
    padding: 0;
    margin: 0;

    &Item {
      width: 100%;

      &Link {
        display: flex;
        align-items: center;
        gap: var(--size-2);
        padding: var(--size-2);
        border-radius: var(--size-2);
        text-decoration: none;
        font-weight: var(--font-weight-5);
        color: var(--color-text-regular);
        cursor: pointer;

        &:hover {
          background: var(--gray-2);
        }

        &Svg {
          width: var(--size-5);
          height: var(--size-5);

          svg {
            width: var(--size-5);
            height: var(--size-5);
          }
        }

        &_Active {
          background: var(--color-primary);
          color: var(--color-text-white);

          &:hover {
            background: var(--color-primary-light);
          }
        }
      }
    }
  }
}

.Shrinked {
  .NavMenuItem {
    &Link,
    &LinkActive {
      &Text {
        display: none;
      }
    }
  }
}

.Expand {
  all: unset;
  grid-area: expand;
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--size-7);
  height: var(--size-7);
  cursor: pointer;

  svg {
    width: var(--size-5);
    height: var(--size-5);

    path {
      stroke: var(--color-text-regular);
      stroke-width: 1.5;
    }
  }
}

.Usermenu {
  margin-left: var(--size-1);
  grid-area: usermenu;
  align-self: flex-end;
  justify-self: flex-start;

  &List {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: var(--size-3);

    svg {
      width: var(--size-5);
      height: var(--size-5);
    }
  }

  &Item {
    all: unset;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: var(--font-weight-5);
    gap: var(--size-2);
    line-height: var(--size-3);
    cursor: pointer;
  }

  &Dropdown {
    &Item {
      padding: var(--size-2);
      display: flex;
      gap: var(--size-2);
      cursor: pointer;
      align-items: center;
      
      &:hover {
        background: var(--color-hover);
      }

      svg {
        width: var(--size-4);
        height: var(--size-4);
      }

      &_Danger {
        color: var(--color-danger);
      }
    }
  }
}