.Appointment {
    border: var(--border-size-1) solid var(--color-border-light);
    padding: var(--size-7);
    border-radius: var(--radius-2-5);
    box-shadow: var(--shadow-2);
    line-height: var(--size-7);
    margin: var(--size-3) 0;

    &Big {
        padding: var(--size-7);
        border: var(--border-size-1) solid var(--gray-4);
        border-radius: var(--radius-2-5);
        box-shadow: none;
        line-height: var(--size-7);
        margin: var(--size-3) 0;
        display: flex;
        flex-direction: row;
        gap: var(--size-7);
        background: var(--color-hover);
        align-items: center;
    }

    &Picture {
        width: var(--size-12);
        height: var(--size-12);
        border-radius: var(--radius-2-5);
        display: flex;
        object-fit: cover;
    }

    &Desc {
        display: flex;
        flex-direction: column;

        &Address {
            display: flex;
            align-items: center;
            text-decoration: underline;
        }

        &Date {
            font-weight: var(--font-weight-6);
            font-size: var(--font-size-3);
        }

        &Detail {
            color: var(--color-text-secondary);
            padding-left: var(--size-2);
        }

        &LastRow {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: var(--size-5);
            gap: var(--size-2);

            &Info {
                display: flex;
                align-items: center;
            }
        }
    }
}