.button{

  &--primary { 
    background-color: white;
    color: #000;
  }

  &--success {
    background-color: green;
    color: white;
  }

  &--danger {
      background-color: red;
      color: white;
  }

  &--warning {
      background-color: rgb(255, 174, 0);
      color: black;
  }

}